{{#if errorMessage}}
<p class="error-message">
  {{ errorMessage }}
</p>
{{/if}}
<div id="login-box">
  <div class="left-box">
    <h1> Log In </h1>
    <form action="/auth/signup" method="post">
      <input type="text" name="username" placeholder="Username or Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button class="btn btn-dark btn-sm" type="submit">Log In</button>
      <div>
        <br>
        <p><a href="/auth/reset">Forgot password?</a></p>
        <p>Don't have an account?
          <a href="/auth/signup">Create an account.</a>
        </p>
      </div>

  </div>

  </form>
  <div class="right-box">
    <span class="signinwith">Log in with</br>Social Network </span>
    <button class="loginBtn loginBtn--facebook">Log in with Facebook</button>
    <button class="loginBtn loginBtn--google">Log in with Google+ </button>
  </div>
  <div class="or">OR</div>
</div>



</form>