
<body class="text-center">
  <div class="initial-page">
    <img class="mb-4" src="../images/paw.png" alt="">
    <h1 class="h3-initial-page mb-3 font-weight-bold" font>Welcome to Care Your Pet</h1>
    <a class="btn btn-primary" href="/auth/login">Login Here!</a>
    <a class="btn btn-info" href="/auth/signup">Not an user? Create your account!</a>
</div>
</body>
