<form action="/pet" method="post">
  <div class="form-group">
    <label for="inputDogName">Name</label>
    <input type="text" name="name" class="form-control" id="inputDogName">
  </div>
      <div class="form-group">
      <label for="Type">Tipo de Pet</label>
      <select class="form-control" name="type" name="type" id="typePet">
        <option>Cachorro</option>
        <option>Gato</option>
        <option>Ave</option>
        <option>Outros</option>
      </select>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputRace">Race</label>
      <input type="text" name="race" class="form-control" id="inputCity">
    </div>
    <div class="form-group">
      <label for="PortSize">Port size</label>
      <select class="form-control" name="size" id="PortSize">
        <option>Toy</option>
        <option>Pequeno</option>
        <option>Médio</option>
        <option>Grande</option>
        <option>Gigante</option>
      </select>
    </div>
     <div class="form-group">
      <label for="genero">Port size</label>
      <select class="form-control" name="genero" id="genero">
        <option>Masculino</option>
        <option>Feminino</option>
      </select>
     </div>
    <div class="form-group col-md-2">
      <label for="inputAge">Age</label>
      <input type="text" name="age" class="form-control" id="inputAge">
    </div>
      <div class="form-group col-md-6">
        <label for="inputCor">Cor</label>
        <input type="text" name="cor" class="form-control" id="inputCor">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Salvar Informações</button>
{{!-- FOTO DO Pet --}}
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Exemplo de input de arquivo</label>
    <input type="file" name="foto" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
<button type="submit">Gravar Foto</button>
</form>
